.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40em;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 80px;
}

.intro h1 {
  color: #8A2BE2;
}

.wrapper {
  padding: 10px;
  background: #901aff; 
  border-radius: 8px;   
  margin-bottom: 10px;
}

.cards_container {
  display: grid; 
  width: 100%;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 colunas */
  gap: 20px;
}

.container {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column; 
    padding: 1px;
    background-color: #483D8B;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.container:hover {
  background-color: #7264ca;
  transform: translateY(-2px);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card p, .card h4 {
  margin-top: 1rem;
}

.active {
  background-color: #6d0083; /* cor quando clicado/ativo */
  font-weight: bold;
}

.limite {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* número máximo de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  height: 14rem;
  width: auto;
  padding: 4px;
  border-radius: 10px;
}

.img_cert {
  width: auto;
  height: 20rem;
  padding: 8px;
}

.custom_modal {
  width: 50rem;
}



.img_modal {
  width: 50rem;
  height: auto;
}

.cert {
  transition: transform 0.3s ease; 
}

.cert:hover {
  transform: translateY(-2px);
}

.card_projects {
  background-color: #452c63;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details a {
  color: #1E90FF;
  font-style: italic;
}

.details button {
  display: inline-flex;
  background-color: #33006F;
  padding: 5px 10px;
  gap: 5px;
  align-items: center; 
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

button:hover {  
  transform: scale(0.95);
  transition: 0.3s ease;
}

button::after {
  transform: scale(-0.95);
  transition: 0.3s ease;
}