@import url('https://fonts.cdnfonts.com/css/dortmund');
@import url('https://fonts.cdnfonts.com/css/br-segma');

.about {
    height: 100vh;
    padding-top: 80px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

p {
    font-family: 'BR Segma', sans-serif;
}

.intro h1 {
    font-family: 'Dortmund', sans-serif;
    font-size: 3vw;
    size: bold;
}

.intro p {
  display: flex;
  align-items: center; /* centraliza ícones verticalmente */
  justify-content: center; /* opcional, centraliza o conteúdo horizontalmente */
  gap: 8px; /* espaço entre texto e ícones */
  font-size: 18px;
}

.intro h1, span {
    font-family: 'Dortmund', sans-serif;
    color: #8A2BE2;
    background-color: var(--color-text);
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.apresentacao {
    width: 45em;
    
}

h1 {
    color: #fff;
}

.icon_text {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 8px; /* espaço entre ícone e texto */
}

.apresentacao span {
    color: #8A2BE2;
}

.apresentacao p {
    color: #A9A9A9;
    font-size: 17px;
}

p span {
  display: inline-flex;
  align-items: center;
}

.img_perfil img {
    width: 20em;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.img_perfil img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}



.buttons {
    display: flex;    
}


.btn:hover {
    background-color: #8A2BE280;
}

.btn_grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn_grad {
     margin-right: 10px;
     padding: 10px 25px;
     font-family: 'BR Segma', sans-serif;
           text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
      }

          .btn_grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }


         .btn_grad_two {
            background-color: transparent;
            font-family: 'BR Segma', sans-serif;
            border: 2px solid #8A2BE2;
            padding: 10px 25px;
            text-align: center;
            transition: 0.3s;
            background-size: 200% auto;
            color: #a65deb;         
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
          }

          .btn_grad_two:hover {
            background-color: rgba(138, 43, 226, 0.2);
            text-decoration: none;
          }
         
         

.container_dois {
    color: #A9A9A9;
    margin-top: 3rem;
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: stretch;
}

.card {
    border: 1px solid #191970;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column; 
    padding: 15px;
    background-color: rgba(52, 0, 112, 0.6);
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s;
}

.card h6 {
    margin-top: 1rem;
    text-transform: uppercase;
}

.card p {
    font-size: 13px
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    color: #fff ;
    width: 3.6em;
    height: 3.6em;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(70, 5, 145, 0.8);
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: rotate(8deg);
}

.container_tres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: -1.3rem; */
}