.nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  display: flex;
  justify-content: space-between; /* separa span e ul */
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #363636;
  padding: 1rem ;
  text-decoration: none;
}

.nav span a {
  color: #8A2BE2 ;
  font-weight: bold;
  margin-left: 6em;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 6em;
}

.nav li {
  margin-right: 2.3em;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.navLink:hover {
  text-decoration: none;
}

.nav li:last-child {
    margin-right: 0; /* evita espaço extra no final */
}


