.main_container {
  margin-top: 20px;
  margin-left: 8em;
  margin-right: 8em;
  display: flex;
   height: 91vh; 
  flex-direction: column;
}

.intro {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.intro p {
    margin-bottom: 0;
}

button {
  display: inline-flex;
  background-color: #33006F;
  padding: 12px 17px;
  gap: 5px;
  align-items: center; 
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

button:hover {  
  transform: scale(0.95);
  transition: 0.3s ease;
}

button::after {
  transform: scale(-0.95);
  transition: 0.3s ease;
}

.container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;       /* garante que o container ocupe toda a largura do pai */
  max-width: 100%;
}

.item {
  flex: 0 0 calc(50% - 10px); /* subtrai metade do gap */
  height: auto;
  color: #000;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 25px;
}

.item hr {
    width: 20%;
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
}

.tech p {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 15px;
  gap: 10px;
}

h4 {
  font-size: 20px;
  display: flex;
  align-items: center; /* centraliza verticalmente ícone e texto */
  gap: 8px;
}

.btn {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.btn_grad {background-image: linear-gradient(to right, #e96443 0%, #904e95  51%, #e96443  100%)}
.btn_grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
 }

 .btn_grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .wrapper {
  width: 100%;
  padding: 10px;
  background: #901aff; 
  border-radius: 8px;   
  margin: 25px 0 25px 0;
}

.total_Tech, .total_Features {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  gap: 10px;
  background-color: #33006F;
  border-radius: 10px;
  padding: 10px;
}

.total_Features {
  background-color: #904e95;
}

.total_Tech .texts,
.total_Features .texts {
  display: flex;
  flex-direction: column; /* empilha h3 e p */
}

.cards {
  display: flex; 
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  gap: 20px;
}

.icon {
  width: 3.1em;
  height: 3.1em;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #4E4466;
}

.features {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 15px;
}