:root {
  --primary-color: linear-gradient(to right, #8e2de2, #4a00e0);

}
body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87) !important;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  margin-left: 15em;
  margin-right: 15em;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}

svg {
  vertical-align: middle;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:focus-visible {
  color: #fff !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

/* pseudo-barra (hover) */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8A2BE2;
  transition: width 0.3s ease-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* se você quiser que o estado active tenha cor roxa */
.nav-link.active {
  color: #8A2BE2 !important;
}

@keyframes slideLine {
  from {
    width: 0%;
    right: 100%;
  }
  to {
    width: 100%;
    right: 0;
  }
}